{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h3 id="count"></h3>
            </div>
            <div class="col-sm-10">
                <div class="jumbotron clearfix" id="mine">
                </div>
            </div>
        </div>
    </div>

    {% include  '_marionettejs.html'%}
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(function(){
            collection = new BombCollection();
            collection.fillModels(10);
            btn = new GameView({el:$('#mine'), collection:collection});
            btn.render();
            counter = new CountView({el:$('#count'), collection:collection});
            counter.render();
        })
    </script>
{% endblock %}