{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron" id="mine">

                </div>
            </div>
        </div>
    </div>

    {% include  '_marionettejs.html'%}
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(function(){
            model = new BombModel();
            btn = new ButtonnView({el:$('#mine'), model:model});
            btn.render();
        })
    </script>
{% endblock %}