{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block body %}

    <div class="container">
        <div class="CenterRow">
            <div class="CenterCol">

                <div class="TodoRegion">
                    <div class="TodoRegion-input"></div>
                    <div class="TodoRegion-options"></div>
                    <div class="TodoRegion-list"></div>
                </div>

            </div>
        </div>
    </div>




    {% include 'marionettejs.html' %}
    <script type="text/template" id="item">
        <div class="ListGroupItem">
            <span class="ListGroupItem-content"><%= content %></span>
            <input type='checkbox' class="ListGroupItem-followingItem" <% if( completed ){ %> checked <% } %> />
        </div>
    </script>

    <script type="text/template" id="todo-options">
        <div class="btn-group">
            <div class="btn btn-default" data-option=all> All </div>
            <div class="btn btn-default" data-option=remaining> Remaining </div>
            <div class="btn btn-default" data--completed> Completed </div>
        </div>
    </script>

    <script type="text/template" id="todo-input">
        <form action="">
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input name='input' type="text" class="form-control" placeholder="what you think today"/>
            </div>
        </form>
    </script>

    <script src="{% static 'js/todo/view.js' %}"></script>
    <script src="{% static 'js/todo/model.js' %}"></script>
    <script>


        // A Global State. Every Part of View Need IT
        var state = new Backbone.Model({
            status: 'all' //  all remaining completed
        });



        var Controller = Marionette.Object.extend({
            initialize: function(option){
                this.state = option.state;
                this.prepare();
                this.setupEvents();
            },
            prepare: function(){

                this.todoCollection = new TodoCollection();
                this.todoCollection.fetch();

                this.inputView = new TodoInputView({
                    state: this.state
                });

                this.todoListView = new TodoListView({
                    state: this.state,
                    collection: this.todoCollection
                });

                this.optionsView = new OptionsView({
                    state: this.state
                });

            },
            setupEvents: function(){
                this.listenTo(this.state,"content:submit", this._addTodoItem);
                this.listenTo(this.todoCollection,"change", function(model){
                    model.save();
                });
            },
            show: function(){
                $('.TodoRegion-input').html( this.inputView.render().el );
                $('.TodoRegion-list').html( this.todoListView.render().el );
                $('.TodoRegion-options').html( this.optionsView.render().el )
            },
            _addTodoItem: function(content){
                this.todoCollection.create({
                    content:content
                });
            }
        });

        controller = new Controller({
            state: state
        });
        controller.show();

        var Router = Backbone.Router.extend({
            initialize: function(option){
                this.state = option.state;
            },
            routes:{
               "":function(){
                   this.state.set({
                       "status": 'all'
                   });
               },
               "all": function(){
                   this.state.set({
                       "status": 'all'
                   });
               },
               "complete": function(){
                   this.state.set({
                       "status": 'complete'
                   });
               },
               "remaining": function(){
                   this.state.set({
                       "status": 'remaining'
                   });
               }
           }
        });

        var router = new Router({
            state: state
        });

        state.on("change:status", function(model, value){
            router.navigate(value);
        });

        Backbone.history.start();

    </script>
{% endblock %}
