/*
Buttons

Styleguide 1
*/


/*
Your standard form button.

.btn-default  -  default
.btn-danger   -  danger
.btn-warning  -  warning
.btn-success  -  success
.btn-info     -  info

Example:
    <button class="BombBtn $modifier_class"></button>

Styleguide 1.1
*/

.BombBtn{
  @extend .btn;
  min-width: 30px;
  height: 30px;
  padding: 6px;
}

.GameView{
  @include clearfix;
}

.BtnView{
  float: left;
}

.BtnView--last{
  clear: left;
}
