/*
Buttons

Styleguide 1
*/


/*
Your standard form button.

.btn-default  -  default
.btn-danger   -  danger
.btn-warning  -  warning
.btn-success  -  success

Example:
    <button class="BombBtn $modifier_class"></button>

Styleguide 1.1
*/

.BombBtn{
  @extend .btn;
  min-width: 30px;
  height: 30px;
  padding: 6px;
}

.btn-default::before{
  content: " ";
}

.btn-danger::before{
  content:"X";
}

.btn-success::before{
  content:"O";
}

.btn-warning::before{
  content: "?";
}


