.ListGroup{
  @extend .list-group;
}
.ListGroupItem{
  @extend .list-group-item;
}

.ListGroupItem--stripped .ListGroupItem-content{
  color: $gray-light;
  text-decoration: line-through;
}

.ListGroupItem-followingItem{
  float: right;
}
